==
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <aside id="tg-sidebar" class="tg-sidebar">
        
        <div class="tg-widget tg-widgetnoticeboard">
            <div class="tg-widgettitle">
                <h3>Главный прокурор</h3>
            </div>
            <div class="tg-widgetcontent">
                <ul>
                    <p style="text-align: center;">
                        <img src="{{'assets/images/procuror.jpg'|theme}}">
                    </p>
                    <p style="text-align: center;"> <b>Подвинский Александр</br>Вячеславович</b></p>
                </ul>
            </div>
        </div>
    </aside>
</div>