[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
{% set posts = blogPosts.posts %}

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
    <aside id="tg-sidebar" class="tg-sidebar">
        <div class="tg-widget tg-widgetlatestcourses">
            <div class="tg-widgettitle">
                <h3>Последние новости</h3>
            </div>
            <div class="tg-widgetcontent">
                {% for post in posts %}
                <article class="tg-campus tg-campusleftthumb">
                    <figure class="tg-featuredimg">
                        <a href="{{ post.url }}">
                            {% if post.featured_images|slice(0,1) == true %}
                                {% for image in post.featured_images|slice(0,1) %}
                                    <img src="{{ image.path }}" alt="image description" style="width: 70px; height: 70px; object-fit: cover;">
                                {% endfor %}
                            {% else %}
                                <img src="{{'assets/images/noimage.jpg'|theme}}" alt=" " style="width: 70px; height: 70px; object-fit: cover;">
                            {% endif %}
                        </a>
                    </figure>
                    <div class="tg-campuscontent">
                        <div class="tg-datetime">
                            <i class="fa fa-calendar"></i>
                            <span>{{ post.published_at|date ('d F Y', 'Europe/Ulyanovsk') }}</span>
                        </div>
                        <div class="tg-campustitle">
                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        <div class="tg-widget tg-widgetcoursecategories">
            <div class="tg-widgettitle">
                <h3>Категории</h3>
            </div>
            <div class="tg-widgetcontent">
                    {% component 'blogCategories' %}
                   
            </div>
        </div>
    </aside>
</div>